body{
    margin:0;
    font-family: "Rubik", sans-serif;
    line-height:1.6;

    display:flex;
    flex-direction:column;
    min-height:100vh;
}

p.about{
    text-indent: 2em;
    text-align: left;
}

h3.proj{
    text-indent: 2em;
}

main{
    flex:1;
}

header{
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#333;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

section{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
    text-align: center;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}